parameters:
	ignoreErrors:
		-
			message: '#^Function class_parents\(\) is a runtime reflection concept that might not work in PHPStan because it uses fully static reflection engine\. Use objects retrieved from ReflectionProvider instead\.$#'
			identifier: phpstanApi.runtimeReflection
			count: 2
			path: src/RequireRequestFactoryRule.php
